# Force public registry and ignore all token/auth issues
registry=https://registry.npmjs.org/
legacy-peer-deps=true
audit=false
fund=false
strict-ssl=false

# Bypass broken peer dependencies which are common in Ghost monorepos
force=true
